<nav class="navbar navbar-expand-lg bg-light m-2">
  <h1>Restaurant List</h1>
</nav>
    <% @restaurants.each do |restaurant| %>
      <div class="card w-75 p-3">
        <div class="card-body">
          <h5><%= restaurant.name %></h5>
          <p class="card-text"><%= restaurant.category %></p>
          <p class="card-text">Address: <%= restaurant.address %></p>
          <%= link_to 'View', restaurant_path(restaurant) %>
        </div>
      </div>
    <% end %>
